.fact-card {
  background-color: #f8f8f8;
  color: #333;
  width: 80%;
  padding: 2em;
  margin: 40vh auto;
  border: 0.125em solid #ffc1c1;
  border-radius: 0.625em;
  box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  text-align: center;
  font-size: 4em;
  line-height: 1.6;
  font-family: 'CatEyes', fantasy;
  word-break: break-word;
}

.fact-card:hover {
  transform: translateY(-0.3125em);
  box-shadow: 0 0.375em 0.5em rgba(0, 0, 0, 0.2);
  border: 0.125em solid #FFB9B5;
}
